*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background: #46529d;
  color: #fff;

}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.container{
  width: 60%;
  margin: 10% auto;
}
.ListItems{
  background: #fff;
  color: #46529d;

}
.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;

}
.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border:  .3px solid #ccc;
}
.ListItems span.title{
  background: #2ebaee;
  color: #eee;
}
.ListItems span.name,
form input[type=text]{
  width: 60%;
}
.ListItems span.age ,form input[type=number]{
  width: 30%;
}
.ListItems span.action , form input[type=  submit]{
  width: 10%;
  cursor: pointer;
}
.ListItems span.icon{
  color: red;
  cursor: pointer;
}
form input {
  padding: 10px;
  background: #ebebeb;
  border: transparent;
  border: .3px solid #ccc;
}